footer {
	padding-block-end: 74px;
	background-color: var(--bs-dark);
}

.footer-top {
	padding: 19px 20px;
	max-width: 1140px;
	box-shadow: 0px 0px 10px 0px var(--bs-shadow-rgb);

	h2 {
		font-size: 24px;
	}
}

.footer-top__form {
	grid-template-columns: 244px 244px 193px;
	column-gap: 4px;


	button,
	input {
		background-color: var(--bs-blue);
		padding-inline: 21px;
		height: 40px;
		font-size: 14px;
	}

	input {
		color: var(--bs-dark);
		background: var(--bs-gray-100);

		&::placeholder {
			color: var(--bs-dark);
		}
	}
}

.footer-wrapper {
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer-logo {
	font-size: 16px;
}

.footer-wrapper__serie {
	li {
		font-size: 14px;
	}
}



@media (max-width: 950px) {
	.footer-top {
		align-items: flex-start !important;
		row-gap: 15px;
		flex-direction: column;
	}

	.footer-top__form {
		width: 100%;
		grid-template-columns: 1fr 1fr 1fr;
	}

	.footer-wrapper {
		grid-template-columns: 140px 1fr 1fr 1fr;
	}
}

@media (max-width: 900px) {
	.footer-wrapper {
		grid-template-columns: 200px 1fr 1fr;
		grid-template-rows: repeat(2, auto);
	}
}

@media (max-width: 768px) {
	.footer-top__form {
		row-gap: 4px;
		grid-template-columns: auto;
		grid-template-rows: repeat(1, 1fr);
	}

	footer {
		padding-block-end: 43px;
	}

	.footer-wrapper {
		column-gap: 20px;
		row-gap: 43px;
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(1, auto);
	}

	.footer-wrapper {
		margin-top: -40px;
	}
}