header {
	box-shadow: 0px 4px 4px 0px var(--bs-header-shadow);
}

.header-top {
	background-color: var(--bs-dark);
	padding-block: 8px;
}

.header-top__links {
	column-gap: 28px;

	a {
		color: var(--bs-white);
		font-size: 14px;
		font-weight: 400;
		text-decoration: none;
		column-gap: 4px;

		img {
			width: 20px;
			flex-shrink: 0;
		}
	}
}

.header-wrapper {
	padding: 8px 0;
}

.header__left {
	column-gap: 19px;
}

.nav__links {
	column-gap: 24px;
}

.logo {
	font-family: var(--bs-font-inter);
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	column-gap: 10px;
}


// header bottom 

.header-bottom__btn {
	padding-inline: 15px;
	height: 40px;
	background-color: var(--bs-green);
}

.header-bottom__search {
	padding-inline: 15px;
	background-color: var(--bs-gray-100);

	input {
		height: 40px;

		&::-webkit-search-cancel-button {
			display: none;
		}

		&::placeholder {
			color: var(--bs-dark);
		}
	}

}

.catalog-menu {
	padding: 30px;
	box-shadow: 0px 4px 34px 0px var(--bs-shadow-rgb);

}

.catalog-menu__head {
	gap: 10px;
	grid-template-columns: 160px 200px 170px 240px 170px;

	.menu__head-item {
		padding: 20px;
		background-color: var(--bs-gray-50);

		&.active {
			background-color: var(--bs-blue);
		}
	}
}

.menu__head-item {
	h5 {
		font-size: 14px;
	}

	&:first-child {
		svg {
			transform: translate(0, -5px);
		}
	}

	&:last-child {
		svg {
			transform: translate(-11px, -13px);
		}
	}

	&.active {
		svg path {
			fill: var(--bs-white);
		}

		h5 {
			color: var(--bs-white);
		}
	}
}

.catalog-content {
	grid-template-columns: repeat(2, 1fr);

	.catalog-content__line {
		padding: 8.5px 0;

		&:not(:first-child):not(:nth-child(2)) {
			border-top: 1px solid var(--bs-gray-50);
		}

		h1 {
			font-size: 16px;
		}

		span {
			font-size: 14px;
			background-color: var(--bs-green);
			padding: 6px 10px;
		}
	}
}

.header-md__right {
	display: none;
}

.header-bottom-md {
	background-color: var(--bs-gray-100);
}

.btn-close {
	background: none;
	opacity: 1;
}


.sidebar-acc__btn {
	background-color: var(--bs-gray-50);
	color: var(--bs-dark);
	font-size: 14px;

	svg {
		width: 35.234px;
		height: auto;

		path {
			fill: var(--bs-dark);
		}
	}

	&[aria-expanded="true"] {
		background-color: var(--bs-blue);
		color: var(--bs-white);

		svg path {
			fill: var(--bs-white);
		}
	}
}

.sidebar {
	overflow-y: scroll;

	.accordion-item {
		border-radius: 10px;
		background: var(--bs-accordion-bg);
	}

	.catalog-content {
		padding-top: 20px;
		padding-bottom: 30px;

		.catalog-content__line {
			padding-inline: 19px;
			padding-block: 10px;

			&:not(:first-child):not(:nth-child(2)) {
				border: none;
			}
		}
	}
}

@media (max-width: 1125px) {
	header {

		nav,
		.header__left {
			display: none !important;
		}
	}

	.header-md__right {
		display: flex;
	}
}

@media (max-width: 1084px) {
	.catalog-menu__head {
		grid-template-columns: repeat(5, minmax(170px, 1fr));
	}

	.menu__head-item h5 {
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		overflow: hidden;
	}
}

@media (max-width: 768px) {
	.logo {
		img {
			width: 37.311px;
			height: 39.505px;
		}

		column-gap: 7px;
		font-size: 11.705px;
	}
}